.input_text {
	width: 235px;
	height: 12px;
	border-radius: 3px;
	border: 1px solid #CCC;
	padding: 8px;
	font-weight: 200;
	font-size: 12px;
	font-family: Verdana;
	box-shadow: 1px 1px 5px #CCC;
	background-color: #F8ECE0;
}

.input_select {
	width: 252px;
	height: 25px;
	border-radius: 3px;
	border: 1px solid #CCC;
	background-color: #F8ECE0;
}

.label_text {
	font-weight: 200;
	font-size: 22px;
	font-weight: bold;
	font-family: serif;
	padding: 8px;
	font-style: oblique;
	color: silver;
}

.tftable {
	font-size: 12px;
	color: #333333;
	width: 100%;
	height: 100%;
	border-width: 1px;
	border-color: #729ea5;
	border-collapse: collapse;
	background-color: #A9A9F5;
}

.subtftable1 {
	font-size: 15px;
	color: #333333;
	width: 80%;
	border-width: 1px;
	border-color: #729ea5;
	border-collapse: collapse;
	background-color: #F2F2F2;
}

* {
	padding: 0;
	margin: 0;
	border: 0;
}

body {
	background-image: url('../img/bkgrnd1.png');
	background-attachment: fixed;
	background-size: 100% auto;
}

.blended_grid {
	display: block;
	width: 900px;
	overflow: auto;
	margin: 30px auto 0 auto;
}

.pageHeader {
	background-color: rgba(0, 0, 0, 0.5);
	float: left;
	clear: none;
	height: 200px;
	width: 900px;
}

.pageLeftMenu {
	background-color: rgba(0, 0, 0, 0.5);
	float: left;
	clear: none;
	height: 600px;
	width: 200px;
}

.pageContent {
	background-color: rgba(0, 0, 0, 0.5);
	float: left;
	clear: none;
	height: 600px;
	width: 700px;
}

.pageFooter {
	background-color: rgba(0, 0, 0, 0.5);
	float: left;
	clear: none;
	height: 100px;
	width: 900px;
}

.form-submit-button {
	background: #016ABC;
	color: #fff;	
	border-radius: 20px;
	height: 40px;
	width: 90px;
}